/* Colors :
dark #666666 : #434e52
light teal : #e0ecec
bleu : #2cafe8
Petit Prince : rgb(1, 13, 37) = #010d25
*/

/* FONT */
@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot');
	src: url('../font/fontello.eot') format('embedded-opentype'),
		url('../font/fontello.woff') format('woff'),
		url('../font/fontello.ttf') format('truetype'),
		url('../font/fontello.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'decimaitalic';
	src: url('../img/Font/OTF/DecimaMonoPro-Italic.otf');
}

@font-face{
	font-family: 'decimaitalicbold';
	src: url('../img/Font/OTF/DecimaMonoPro-BoldItalic.otf');
}
@font-face{
	font-family: 'decima';
	src: url('../img/Font/OTF/DecimaMonoPro.otf');
}

@font-face{
	font-family: 'test';
	src: url('../img/Font/mithella/Mithella-Regular.otf');
}
html {
	font: 0.9em sans-serif;
	height: 100%;
	width: 100%;
	overflow: hidden;
	/* for iOS */
	position: fixed;
	/* for iOS */
	font-family: 'test';
}

body {
	background-color: rgb(255, 255, 255);
	height: 100%;
}

p {
	margin: 0.9em;
}

.hidden {
	display: none;
}

/*=== DEFAULT LAYOUT - GENERAL ===============================================*/
.default #root,
.sco #root {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.default #header,
.sco #header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
}

.default #header h1,
.sco #header h1 {
	margin: 0;
	text-align: right;
	color: white;
	background: linear-gradient(to left,rgb(1, 13, 37), rgb(1, 13, 37, 0));
	font-size: 1.5em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'decimaitalic';
}

.default #accessibility,
.sco #accessibility {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

#main {
	z-index: 1;
}

/*=== DEFAULT LAYOUT - FLEXBOX ===============================================*/

/*--- ROOT -------------------------------------------------------------------*/
.default #root,
.sco #root {
	display: flex;
	flex-flow: column;
}

.default #header,
.sco #header {
	flex: 0 0 60px;
}

.default #main,
.sco #main {
	flex: 1 1 auto;
}

.default #footer,
.sco #footer {
	flex: 0 0 20px;
}

/*--- MAIN -------------------------------------------------------------------*/
.default #main {
	display: flex;
	flex-flow: row;
	position: relative;
}

.sco #main {
	display: flex;
	position: relative;
}

.default #toolbox {
	order: 1;
	flex: 0 0 300px;
	position: relative;
}

.default #document {
	order: 2;
	flex: 1 1 auto;
	margin-top: 60px;
}

.sco #document {
	flex: 1 1 auto;
	margin-top: 60px;
}

.default .zen_true #toolbox {
	display: none;
}

.default .zen_true #document {
	order: 1;
}


/*--- TOOLBOX ----------------------------------------------------------------*/
.default #toolbox {
	display: flex;
	flex-flow: column;
}

.default #tools {
	order: 1;
	flex: 0 0 60px;
}

.default #menu {
	order: 2;
	flex: 1 1 auto;
	margin-bottom: 60px;
}

.default .schActive #menu {
	order: 3;
}

.default .schCmds {
	order: 2;
	flex: 0 0 auto;
}

/*--- MENU -------------------------------------------------------------------*/
.default #root,
.default #main,
.default #toolbox,
.default #menu,
.default #menu>ul.mnu {
	/* Must be set on all parent flex items of an overflowing item */
	min-height: 0;
	overflow: hidden;
}

.default #menu {
	display: flex;
	flex-flow: column;
}

.default #menu>.mnuSrlUpFra {
	order: 1;
	flex: 0 0 20px;
}

.default #menu>ul.mnu {
	order: 2;
	flex: 1 1 auto;
	overflow-y: auto;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	/* Necessaire pour le centrage automatique de l'item de menu courant */
}

.default #menu>.mnuSrlDwnFra {
	order: 3;
	flex: 0 0 20px;
}

/*--- DOCUMENT ---------------------------------------------------------------*/
.default #document,
.sco #document {
	display: flex;
	flex-flow: column;
}

.default #content,
.sco #content {
	order: 1;
	flex: 1 1 auto;
	background: rgb(255, 255, 255);
	position: relative;
	border-radius: 10px;
	margin-right: 15px;
}

.default .scroller,
.sco .scroller {
	/* DEBUG - IE11 : ne peut pas scroller un flex auto */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	/* for iOS */
}

.default #navigation {
	order: 2;
	flex: 0 0 45px;
	padding-top: 15px;
}

/*=== DEFAULT LAYOUT - GENERAL BACKGROUNDS ===================================*/
/* SVG and chrome: https://code.google.com/p/chromium/issues/detail?id=110195 */
.default #root {
	background: url('../img/abstract.jpg') no-repeat center fixed;
	background-size: cover;
}

.default #root.zen_true {
	background-image: none;
}

.default #header,
.sco #header {
	/*background: url(../img/tpl/back-top.svg) no-repeat top;*/
	background-size: 100% 60px;
}

.default #main {
	/*background: url(../img/tpl/back-bottom.svg) no-repeat bottom; */
	background-size: 100% 60px;
}

/*=== DEFAULT LAYOUT - TOOLS MENU ============================================*/
.default #tools ul {
	list-style-type: none;
	padding: 0 0 0 1em;
	margin: 0;
}

.default #tools li {
	display: inline-block;
	height: 50px;
}

.default #tools .lbl {
	display: inline-block;
	margin: 0 0 0 1em;
	padding: 4px;
	line-height: 0pt;
}

.default #tools .anc_yes .lbl {
	background-color: #ffffff;
	border-radius: 0 0 30px 30px;
}

.default #tools .item {
	display: inline-block;
	padding-top: 1em;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	padding-left: 40px;
	overflow: hidden;
	background: url(../img/tpl/menu-tools.svg) no-repeat top;
	background-size: 100%;
}

.default #tools .home .item {
	background-position: 0px 0px;
}

.default #tools .home.anc_yes .item {
	background-position: 0px -320px;
}

.default #tools .module .item {
	background-position: 0px -80px;
}

.default #tools .module.anc_yes .item {
	background-position: 0px -400px;
}

.default #tools .tools .item {
	background-position: 0px -160px;
}

.default #tools .tools.anc_yes .item {
	background-position: 0px -480px;
}

.default #tools a:hover {
	opacity: 0.9;
}

/*=== DEFAULT LAYOUT - MAIN MENU =============================================*/
.default #menu .mnuSrlUpFra,
.default #menu .mnuSrlDwnFra {
	text-align: center;
}

.default #menu .mnuSrlUpBtn,
.default #menu .mnuSrlDwnBtn {
	display: inline-block;
	padding: 0;
	box-sizing: border-box;
	width: 280px;
	height: 20px;
	padding-left: 280px;
	overflow: hidden;
	background: url(../img/tpl/menu-scroller.svg) no-repeat top;
	background-size: 100%;
}

.default #menu .mnuSrlDwnBtn {
	background-position: 0px -36px;
}


.default #menu ul,
.default #content ul.plan,
.default #content ul.plan ul {
	list-style-type: none;
	padding: 0 10px;
	margin: 0;
}

.default #menu ul.sub,
.default #content ul.plan ul.sub {
	padding: 0 0 0 1em;
}

.default #menu .mnu li {
	background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
	background-size: 100% 1px;
	background-position: bottom;
	background-repeat: no-repeat;
}

.default #menu .sub li:last-child {
	background: none;
}

.default #menu .mnu .lbl,
.default #content ul.plan .lbl {
	padding: 1px 0 1px 22px;
	min-height: 24px;
	position: relative;
}

.default #menu .mnu .quiz .lbl,
.default #menu .mnu .coQuiz .lbl,
.default #content ul.plan .quiz .lbl,
.default #content ul.plan .coQuiz .lbl {
	background: url(../img/tpl/menu-bullet-quiz.svg) no-repeat top;
	background-size: 18px;
	background-position: 2px 4px;
}

.default #menu .mnu .tgle_c,
.default #menu .mnu .tgle_o {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	left: 0;
	top: 2px;
	padding-left: 20px;
	overflow: hidden;
	background: url(../img/tpl/menu-toggle.svg) no-repeat top;
	background-size: 18px;
	background-position: 0px 0px;
}

.default #menu .mnu .tgle_o {
	background-position: 0px -40px;
}

.default #menu .mnu a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
}
.default #content ul.plan a{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.default #content ul.plan a:hover{
	color:rgb(1, 13, 37);
}
.default #menu .mnu a:hover{
	opacity: 0.8;
	

}

.default #menu .mnu .item,
.default #content ul.plan .item {
	display: block;
	min-height: 22px;
	padding-top: 2px;
}

.default #menu .mnu .item span,
.default #content ul.plan .item span {
	display: inline-block;
	padding: 1px 5px;
	margin-bottom: 3px;
}

.default #menu .mnu .sel_yes>.lbl .item span,
.default #content ul.plan .sel_yes>span {
	background-color: #ffffff;
	color: rgb(1, 13, 37);
	border-radius: 5px;
}


/*=== DEFAULT LAYOUT - NAVIGATION BUTTONS ====================================*/
.default #navigation {
	text-align: right;
}

.default #navigation nav {
	display: inline-block;
}

.default #navigation ul {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

.default #navigation li {
	display: inline-block;
	height: 50px;
}

.default #navigation a { /* Fleche pour passer les cours */
	display: inline-block;
	padding-top: 1.5em;
	margin: 0 1em 0 0;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	padding-left: 40px;
	overflow: hidden;
	background: url(../img/tpl/buttons.svg) no-repeat top;
	background-size: 100%;
}

.default #navigation a.btnNav.prev {
	background-position: 0px 0px;
}

.default #navigation a.btnNav.next {
	background-position: 0px -80px;
}

.default #navigation span.btnNav {
	display: inline-block;
	padding-top: 1.5em;
	margin: 0 1em 0 0;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
}

.default #navigation span.btnNav span {
	display: none;
}

.default #navigation a.btnZen {
	background-position: 0px -160px;
}

.default .zen_true #navigation a.btnZen {
	background-position: 0px -240px;
}

.default #navigation a:hover {
	opacity: 0.9;
}

/*=== HOME LAYOUT - GENERAL ===========  Page d accueil  =============*/
.home #root {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.home section.article {
	margin-top: 10px;
	float: right;
	
}

.home section.article h1 {
	color: white;
	font-size: 3em;
	background-image: none;
	font-family: "decimaitalic";
	font-weight: bold;
    margin-top: -200px;
    margin-right:100px ;
}

.home section.article .hBk_co {
	color: white;
}

.home section.article .hBk_co .auth {
	font-size: 2em;
}

.home section.article .hBk_co .version {
	font-size: 1.5em;
	display: inline-block;
	margin-right: 15px;
}

.home section.article .hBk_co .date {
	font-size: 1.5em;
	display: inline-block;
}

.home section.article .hBk_co .logo {
	bottom: 5%;
	left: 5%;
	line-height: 0;
	position: absolute;
	z-index: -1;
	background-color: transparent;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.8);
}

.logo{
    display: block;
    

}
.spoc{
    background: url(../img/SPOC_Logo_Blanc.png) no-repeat;
    background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 169px;
	margin-top: 10px;
	margin-left: 10px;
    cursor: pointer;
}

.idefi{
    background: url(../img/idefi.png) no-repeat;
    background-size: contain;
	background-repeat: no-repeat;
	width: 110px;
    height: 80px;
	margin-top: 30px;
	margin-left: 10px;
    cursor: pointer;

}

.upvm{
    background: url(../img/upvm.png) no-repeat;
    background-size: contain;
	background-repeat: no-repeat;
	width: 110px;
    height: 80px;
	margin-top: 30px;
	margin-left: 10px;
    cursor: pointer;
}

.logo:hover{
	opacity: 0.8;
    cursor: pointer;
}

/*=== HOME LAYOUT - FLEXBOX ==================================================*/

/*--- ROOT -------------------------------------------------------------------*/
.home #root {
	display: flex;
	flex-flow: column;
}

.home #main {
	flex: 1 1 auto;
}

.home #footer {
	flex: 0 0 20px;
}

/*--- MAIN -------------------------------------------------------------------*/
.home #main {
	display: flex;
	flex-flow: column;
}

.home #content {
	flex: 1 1 auto;
}

.home #navigation {
	flex: 0 0 auto;
	margin-bottom: 40px;
}

/*=== HOME LAYOUT - GENERAL BACKGROUNDS ======================================*/
/* SVG and chrome: https://code.google.com/p/chromium/issues/detail?id=110195 */
.home #root {
	background: url(../img/abstract.jpg) no-repeat center fixed;
	background-size: cover;
}

/*=== HOME LAYOUT - NAVIGATION BUTTONS =======================================*/
.home #navigation ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

.home #navigation li {
	height: 50px;
	margin: 0 1em;
}

.home #navigation a {
	display: inline-block;
	color: white;
	height: 40px;
	padding-right: 50px;
	padding-left: 10px;
	background: url(../img/tpl/button-start.svg) no-repeat right;
	background-size: 40px 40px;
	text-decoration: none;
	font-size: 1.2em;
	font-family: 'decimaitalicbold';
}

.home #navigation a span {
	display: inline-block;
	padding-top: 10px;
}

.home #navigation a:hover {
	opacity: 0.9;
}

/*=== LAYOUT - ACCESSIBILITY MENU  ===========================================*/
#accessibility {
	font-size: 60%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index: 2;
}

#accessibility li {
	display: inline-block;
	margin: 0 1em;
}

#accessibility a {
	opacity: 0;
	color: #e0ecec;
	text-decoration: none;
}

#accessibility:hover a {
	opacity: 0.2;
}

#accessibility a:focus {
	opacity: 1;
}

/*=== LAYOUT - SUB-WINDOWS ===================================================*/

/*--- CONTAINER --------------------------------------------------------------*/
.subWindow_over {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	opacity: 0.6;
}

.subWindow_win {
	position: absolute;
	top: 3em;
	bottom: 3em;
	left: 3em;
	right: 3em;
	display: flex;
	flex-flow: column;
	background-color: white;
	border: 2px solid #52434d;
}

.subWindow_ti {
	flex: 0 0 1.5em;
	background-color: #434e52;
	color: #e0ecec;
	padding-left: 0.5em;
	font-weight: bold;
}

.subWindow_co {
	flex: 1 1 auto;
	position: relative;
}

.subWindow_co>a.focusOnCloseBtn {
	position: absolute;
	left: -1000px;
	top: -1000px;
}

.subWindow_fra {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a.subWindow_x {
	display: inline-block;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	padding-left: 16px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
	background-position: 0 -32px;
	position: absolute;
	right: 2px;
	top: 2px;
}

/*--- subWin - FLEXBOX --------------------------------------------------*/
.subWin #root {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-flow: column;
}

.subWin #header {
	position: absolute;
	text-align: right;
	width: 100%;
	z-index: 1;
}

.subWin #accessibility {
	padding-right: 20px;
}

.subWin #accessibility a {
	color: #434e52;
}

.subWin #main {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}

.subWin #footer {}

.subWin #document {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}

.subWin #content {
	flex: 1 1 auto;
	position: relative;
	padding: 0 0.5em;
}

.subWin .scroller {
	/* DEBUG - IE11 : ne peut pas scroller un flex auto */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
	overflow-y: auto;
}

/*--- subWin.eval - NAVBAR ---------------------------------------------------*/
.subWin.eval #main {
	/*background: url(../img/tpl/back-bottom-straight.svg) no-repeat bottom;*/
	background-size: 100% 60px;
}

.subWin.eval #navigation {
	flex: 0 0 45px;
	padding-top: 15px;
	position: relative;
}

.subWin.eval #navigation .evalCounter {
	position: absolute;
	font-size: 2em;
	color: #e0ecec;
	top: 20px;
	left: 5px;
}

.subWin.eval #navigation nav {
	text-align: right;
}

.subWin.eval #navigation ul {
	display: inline-block;
	list-style-type: none;
	padding: 5px 0 0 0;
	margin: 0;
	text-align: right;
}

.subWin.eval #navigation li {
	display: inline-block;
	height: 30px;
}

.subWin.eval #navigation a {
	display: inline-block;
	padding-top: 1.5em;
	margin: 0 1em 0 0;
	box-sizing: border-box;
	width: 35px;
	height: 35px;
	padding-left: 35px;
	overflow: hidden;
	background: url(../img/tpl/buttons.svg) no-repeat top;
	background-size: 100%;
}

.subWin.eval #navigation a.btnNav.prevEval {
	background-position: 0px 0px;
}

.subWin.eval #navigation a.btnNav.nextEval {
	background-position: 0px -70px;
}

.subWin.eval #navigation a:hover {
	opacity: 0.9;
}

.subWin.eval #navigation span.btnNav {
	display: inline-block;
	padding-top: 1.5em;
	margin: 0 1em 0 0;
	box-sizing: border-box;
	width: 35px;
	height: 35px;
}

.subWin.eval #navigation span.btnNav span {
	display: none;
}

/* === START - article ====================================================== */
section.article>.hBk_ti,
.sco section.article>.mainContent_ti {
	background-image: linear-gradient(to right, rgb(1, 13, 37) 0%, rgba(255, 255, 255, 0) 100%);
	background-size: 100% 2px;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 4px;
	font-size: 1.6em;
	font-family: 'decimaitalicbold';
}

section>.hBk_ti,
.sco section>.mainContent_ti {
	background-image: linear-gradient(to right, rgb(1, 13, 37) 0%, rgba(255, 255, 255, 0) 100%);
	background-size: 100% 1px;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 4px;
	font-size: 1.3em;
	margin-top: 25px;
}

figcaption {
	vertical-align: middle;
	font-style: italic;
}

.zoom a {
	padding: 0.1em 0 0.1em 25px;
	margin-left: 0.5em;
	box-sizing: border-box;
	background: url(../img/content/buttons.svg) no-repeat 0 -200px / 20px auto;
}

a.tooltip_a.info {
	display: inline-block;
	padding: 0;
	margin: 0 0 -0.2em 0.5em;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	padding-left: 20px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
}

.tooltip {
	background-color:  rgb(1, 13, 37);
	border: 2px solid #ffffff;
	border-radius: 5px;;
}

.tooltip_co {
	padding: 2px 4px;

}

.tooltip_ti {
	background-color: #ffffff;
	min-height: 20px;
	color: #ffffff;
	text-align: center;

}

.tooltip_x {
	display: inline-block;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	padding-left: 16px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
	background-position: 0 -32px;
	position: absolute;
	right: 2px;
	top: 2px;
}

.cc-button img {
	vertical-align: middle;
}

/* === STOP - article ======================================================= */

/* === CodeMirror =========================================================== */
.CodeMirror-static {
	margin-left: 40px;
}

.CodeMirror-static pre {
	/* Reset some styles that the rest of the page might have set */
	border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	position: relative;
	overflow: visible;
	border-right: 30px solid transparent;
	width: fit-content;
	font-family: monospace;
	tab-size: 2;
}

.CodeMirror-line {
	position: relative;
	min-height: 16px;
}

.CodeMirror-linenumber {
	position: absolute;
	top: 0;
	left: -38px;
	width: 30px;
	padding: 0 3px 0 5px;
	min-width: 20px;
	min-height: 16px;
	text-align: right;
	color: #676767;
	background-color: #f7f7f7;
	font-size: 0.8em;
}

.cm-keyword {
	color: #708;
}

.cm-atom {
	color: #219;
}

.cm-number {
	color: #164;
}

.cm-def {
	color: #00f;
}

.cm-variable {
	color: black;
}

.cm-variable-2 {
	color: #05a;
}

.cm-variable-3 {
	color: #085;
}

.cm-property {
	color: black;
}

.cm-operator {
	color: black;
}

.cm-comment {
	color: #a50;
}

.cm-string {
	color: #a11;
}

.cm-string-2 {
	color: #f50;
}

.cm-meta {
	color: #555;
}

.cm-error {
	color: #f00;
}

.cm-qualifier {
	color: #555;
}

.cm-builtin {
	color: #30a;
}

.cm-bracket {
	color: #997;
}

.cm-tag {
	color: #170;
}

.cm-attribute {
	color: #00c;
}

.cm-header {
	color: blue;
}

.cm-quote {
	color: #090;
}

.cm-hr {
	color: #999;
}

.cm-link {
	color: #00c;
}

.cm-negative {
	color: #d44;
}

.cm-positive {
	color: #292;
}

.cm-header,
.cm-strong {
	font-weight: bold;
}

.cm-em {
	font-style: italic;
}

.cm-link {
	text-decoration: underline;
}

.cm-invalidchar {
	color: #f00;
}

/* === STOP - CodeMirror ==================================================== */

/* === START - scCode ======================================================= */
.scCodeActive {
	border: 1px solid silver;
	background-color: white;
}

.scCodeCtrl {
	background-color: #f3f3f3;
	border-bottom: 1px solid #cfcfcf;
	padding: 0;
	height: 19px;
	text-align: right;
	z-index: 2;
	position: relative;
}

.scCodeActive .CodeMirror-static {
	transition: margin-left 200ms ease-in;
}

.scCodeLineNums-invisible .CodeMirror-linenumber {
	display: none;
}

.scCodeLineNums-invisible .CodeMirror-static {
	margin-left: 2px;
}

.scCodeRaw-invisible .scCodeRaw,
.scCodeRaw-visible .scCodeCode {
	display: block;
}

.scCodeActive .scCodeRaw,
.scCodeActive .scCodeCode {
	transition: opacity 1s ease-out;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.scCodeRaw-invisible .scCodeCode,
.scCodeRaw-visible .scCodeRaw {
	opacity: 1;
	height: auto;
	overflow: auto;
}

.scCodeCtrl a {
	display: inline-block;
	width: 20px;
	height: 19px;
	background-image: url("../img/code/buttons.png");
	background-repeat: no-repeat;
	background-position: -0px -0px;
	margin: 0 1px;
}

.scCodeCtrl a:hover {
	opacity: 0.8;
}

.scCodeCtrl a span {
	display: none;
}

.scCodeCtrl a.scCodeBtnLineNums {
	background-position: -0px -20px;
}

.scCodeLineNums-invisible .scCodeCtrl a.scCodeBtnLineNums {
	background-position: -20px -20px;
}

.scCodeRaw-visible .scCodeCtrl a.scCodeBtnLineNums {
	visibility: hidden;
}

.scCodeCtrl a.scCodeBtnRaw {
	background-position: -0px -40px;
}

.scCodePlain .scCodeCtrl a.scCodeBtnRaw {
	background-position: -0px -20px;
}

.scCodeRaw-visible .scCodeCtrl a.scCodeBtnRaw {
	background-color: silver;
}

.scCodeRaw-visible.scCodePlain .scCodeCtrl a.scCodeBtnRaw {
	background-position: -20px -20px;
	background-color: inherit;
}

.scCodeCtrl a.scCodeBtnWrap {
	background-position: -0px -80px;
}

.scCodeWrap-on .scCodeCtrl a.scCodeBtnWrap {
	background-color: silver;
}

.scCodeRaw-visible .scCodeCtrl a.scCodeBtnWrap {
	visibility: hidden;
}

.scCodeCopyMsg.scCodeHidden {
	display: block;
	height: 0px;
}

.scCodeCopyMsg.scCodeVisible {
	display: block;
	height: 18px;
}

.scCodeCopyMsg {
	position: absolute;
	z-index: 1;
	opacity: 0.8;
	top: 19px;
	left: 0;
	width: 100%;
	background-color: #f7ed99;
	border-bottom: 1px solid #e4ca8c;
	color: #7e652a;
	text-align: center;
	overflow: hidden;
	transition: height 200ms linear;
}

/* === STOP - scCode ======================================================== */

/* === START - scImgMgr ===================================================== */
.scImgZmOver {
	background: white;
}

.scImgZmMag {
	box-shadow: 0 0 5px 0 #000000;
	cursor: crosshair;
}

/* === STOP - scImgMgr ====================================================== */

/* === START - SEARCH ======================================================= */
.mnu_sch>.capt,
.mnu_tgle_o,
.mnu_tgle_c {
	color: #434e52;
}

.schCmds {
	position: relative;
}

.schLabel {
	position: absolute;
	left: -9999px;
}

.schPropose a:hover {
	text-decoration: none;
}

.schBtnPropose:hover,
.schBtnPropose:focus {
	background-color: #F6F6F6;
}

.schPropose {
	position: absolute;
	top: 29px;
	left: 56px;
	width: 140px;
	padding: 5px 2px;
	border: 1px solid #4a4352;
	border-top: 0;
	background-color: white;
	z-index: 100;
	font-size: 0.7em;
	box-shadow: 0px 4px 4px #666;
}

.schBtnPropose {
	display: block;
	text-decoration: none;
	color: #434e52;
	font-style: italic;
	padding: 0 2px;
	margin: 1px;
}

.schBtnPropose:hover,
.schBtnPropose:active,
.schBtnPropose:focus {
	outline: none;
	text-decoration: none;
	background-color: #4d4352;
	color: #ffffff;
	border-radius: 2px;
}

.schProposeExceeded {
	display: block;
	color: #434e52;
	font-style: italic;
	padding: 2px 3px;
}

.schProp_no {
	display: none;
}

.schDisplay_off .schResults {
	display: none;
}

form.schForm {
	text-align: center;
	margin-bottom: 4px;
}

input.schInput {
	border: 1px solid #000000;
	height: 21px;
	padding: 0px 2px;
	width: 140px;
}

input.schBtnLaunch {
	background: url("../img/search/find.svg") no-repeat center left;
	background-size: 100%;
	border: none;
	cursor: pointer;
	color: transparent;
	height: 38px;
	width: 38px;
	padding: 0;
	margin-left: 5px;
}

.schCmds_act input.schInput {
	border: 1px solid #434e52;
	color: #434e52;
}

.schResults .schPgeBk .schPgeBtn,
.schResults .mnu_sch_yes .mnu_lnk {
	background: url("../img/search/schPgeRank.svg") no-repeat right center;
}

.schResults .schNoRes {
	text-align: center;
	font-size: 1.5em;
	margin-top: 18px;
}

.schResults .mnu_sch,
.schResults .schPgeBtn>span {
	display: block;
	background-color: white;
}

.schResults .schPgeRank_1 .mnu_sch,
.schResults .schPgeRank_1 .schPgeBtn>span {
	margin-right: 14px;
}

.schResults .schPgeRank_2 .mnu_sch,
.schResults .schPgeRank_2 .schPgeBtn>span {
	margin-right: 28px;
}

.schResults .schPgeRank_3 .mnu_sch,
.schResults .schPgeRank_3 .schPgeBtn>span {
	margin-right: 42px;
}

.schResults .schPgeRank_4 .mnu_sch,
.schResults .schPgeRank_4 .schPgeBtn>span {
	margin-right: 56px;
}

.schResults .schPgeRank_5 .mnu_sch,
.schResults .schPgeRank_5 .schPgeBtn>span {
	margin-right: 70px;
}

.schResults .schPgeRank_6 .mnu_sch,
.schResults .schPgeRank_6 .schPgeBtn>span {
	margin-right: 84px;
}

.schResults .schPgeRank_7 .mnu_sch,
.schResults .schPgeRank_7 .schPgeBtn>span {
	margin-right: 98px;
}

.schResults .schPgeRank_8 .mnu_sch,
.schResults .schPgeRank_8 .schPgeBtn>span {
	margin-right: 112px;
}

.schResults .schPgeRank_9 .mnu_sch,
.schResults .schPgeRank_9 .schPgeBtn>span {
	margin-right: 124px;
}

.schResFrame {
	position: fixed;
	left: 50%;
	bottom: -80px;
	width: 700px;
	margin-left: -350px;
	color: #434e52;
	background-color: #e0ecec;
	border-right: 1px solid #434e52;
	border-top: 1px solid #434e52;
	border-left: 1px solid #434e52;
	height: 50px;
	transition: all 0.4s ease-out;
	z-index: 91;
	box-shadow: 0 0 10px #434e52;
}

.schDisplay_on .schResFrame {
	bottom: 0px;
}

.schDisplayList_on .schResFrame {
	height: 530px;
}

.schResList {
	position: absolute;
	bottom: 5px;
	left: 5px;
	top: 5px;
	right: 5px;
	display: none;
}

.schDisplayList_on .schResList {
	display: block;
}

.schResListSrl {
	position: absolute;
	bottom: 42px;
	left: 0px;
	top: 0;
	right: 0px;
	overflow: auto;
	background-color: white;
	padding: 5px;
}

.schResults a {
	margin: 0 5px;
}

.schResults a.schParentBtn {
	color: rgb(66, 14, 14);
	font-style: italic;
	font-size: 95%;
}

.schResults li.mnu_sel_yes a.schParentBtn {
	font-weight: bold;
}

.schBtnTgle {
	background: url(../img/search/schBtn.svg) no-repeat;
	background-size: 100%;
	background-position: 0 -27px;
	width: 26px;
	height: 27px;
	display: block;
	position: absolute;
	bottom: 7px;
	left: 6px;
	z-index: 1;
}

.schDisplayList_on .schBtnTgle {
	background-position: 0 0;
}

.schBtnTgle span {
	display: none;
}

.schBtnReset {
	background: url(../img/search/schBtn.svg) bottom left no-repeat;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 26px;
	height: 27px;
	display: block;
	position: absolute;
	top: -12px;
	right: -15px;
}

.schBtnReset:hover {
	opacity: 0.8;
}

.schBtnReset span {
	display: none;
}

.schHitBox,
.schResBox,
.schPageBox {
	text-align: center;
	margin: 4px 0px 0 40px;
}

.schHitBox {
	position: absolute;
	bottom: 27px;
	left: 0;
	right: 0;
}

.schPageBox {
	position: absolute;
	bottom: 6px;
	left: 0;
	right: 0;
	margin-left: 0;
	z-index: 0;
}

.schDisplay_none .schResBox {
	text-align: center;
	margin: 20px 200px 6px 200px;
}

.schDisplay_none .schHitBox {
	display: none;
}

.schBtnNxt,
.schBtnPrv,
.schBtnPrvHit,
.schBtnNxtHit {
	background: url(../img/search/schBtn.svg) no-repeat;
	background-size: 100%;
	position: absolute;
	width: 26px;
	height: 27px;
	z-index: 1;
}

.schBtnAct_no,
.schBtnHitAct_no {
	display: none;
}

.schBtnNxt span,
.schBtnPrv span,
.schBtnPrvHit span,
.schBtnNxtHit span {
	display: none;
}

.schDisplay_none .schBtnNxt,
.schDisplay_none .schBtnPrv,
.schDisplay_none .schBtnPrvHit,
.schDisplay_none .schBtnNxtHit {
	display: none;
}

.schDisplay_one .schBtnNxt,
.schDisplay_one .schBtnPrv {
	display: none;
}

.schBtnNxt {
	background-position: 0px -40px;
}

.schBtnPrv {
	background-position: 0px -55px;
}

.schBtnNxtHit {
	background-position: 0px -58px;
}

.schBtnPrvHit {
	background-position: 0px -88px;
}

.schBtnPrvHit {
	top: 10px;
	left: 0;
}

.schBtnNxtHit {
	top: 10px;
	right: 5px;
}

.schBtnPrv {
	right: 57px;
	top: 0;
}

.schBtnNxt {
	right: 5px;
	top: 0;
}

.schPgeBk .schPgeBtn span {
	background-position: center right;
	background-repeat: no-repeat;
	display: block;
	padding-right: 165px;
}

.schPgeBk .mnu_lnk span {
	background-position: center right;
	background-repeat: no-repeat;
	display: block;
}

.schResults span.schPgeRank {
	position: absolute;
	left: -10000px;
}

.schResults a.schPgeBtn,
.schResults a.mnu_lnk {
	margin: 2px;
	display: block;
	color: #434e52;
}

.schResults li.mnu_sel_yes .schPgeBtn,
.schResults .mnu_sel_yes .mnu_lnk {
	font-weight: bold;
	cursor: default;
}

.schResults .mnu_sch_no a.mnu_lnk {
	color: #aaa;
	cursor: default;
	text-decoration: none;
}

.schResults .mnu_sch_no a.mnu_lnk:hover {
	text-decoration: none;
}

.schResults a.mnu_tgle_o,
.schResults a.mnu_tgle_c {
	position: absolute;
	margin-top: -14px;
	margin-left: -16px;
	width: 7px;
	height: 7px;
	display: inline-block;
	background: url(../img/search/schMnuTgle.svg) no-repeat;
	background-position: 0 0;
}

.schResults a.mnu_tgle_o span,
.schResults a.mnu_tgle_c span {
	display: none;
}

.schResults .mnu_sch_yes a.mnu_tgle_c {
	background-position: 0px -14px;
}

.schResults .mnu_sch_yes a.mnu_tgle_o {
	background-position: 0px -0px;
}

.schResults .mnu_sch_no a.mnu_tgle_c {
	background-position: 0px -21px;
}

.schResults .mnu_sch_no a.mnu_tgle_o {
	background-position: 0px -7px;
}

.schResListSrl ul.mnu_root {
	padding: 0 0 0 20px;
}

.schResListSrl li.mnu_b {
	list-style-type: none;
	margin: 0;
}

.schResListSrl ul {
	color: #434e52;
	margin: 0;
	list-style: disc;
	padding-left: 13px;
	list-style-position: outside;
}

.schResListSrl ul.schParentList {
	list-style-type: none;
}

.schResListSrl ul.schParentList_c {
	display: none;
}

.schResListSrl ul.schParentList_o {
	display: block;
}

li.schPgeBk {
	position: relative;
}

a.schParent_tgle_c,
a.schParent_tgle_o {
	position: absolute;
	margin-left: -13px;
	top: 2px;
	width: 7px;
	height: 7px;
	display: inline-block;
	background: url(../img/search/schMnuTgle.svg) no-repeat;
}

a.schParent_tgle_c span,
a.schParent_tgle_o span {
	display: none;
}

a.schParent_tgle_c {
	background-position: 0px -14px;
}

a.schParent_tgle_o {
	background-position: 0px 0px;
}

.schParent_tgle_c:hover,
.schParent_tgle_o:hover {
	text-decoration: none;
	color: #504352;
}

.schResults .schPgeBk .schPgeBtn:hover,
.schResults .mnu_sch_yes .mnu_lnk:hover {
	color: #4d4352;
	text-decoration: underline;
}

.schResults .mnu_sel_yes .mnu_lnk:hover {
	text-decoration: none;
}

.schResCnt,
.schHitCnt {
	display: inline-block;
	min-width: 40px;
	text-align: center;
}

.schDisplay_none .schResCnt,
.schDisplay_one .schResCnt {
	display: none;
}

.schHit {
	background-color: #52434e;
	color: #e0ecec;
	border-radius: 3px;
}

.schHit_current {
	background-color: #4f4352;
	color: white;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 #434e52;
}

.schTerm {
	font-weight: bold;
}

.schTerm em {
	font-weight: normal;
}

.schDisplay_on #menu ul.mnu_root .mnu_sch_no>a:hover {
	text-decoration: none;
}

.schDisplay_on #menu ul.mnu_root .mnu_sch_no>a.mnu_lnk {
	color: #BBB;
	cursor: default;
}

.tplSchBox {
	position: relative;
	z-index: 2;
}

/* === STOP - SEARCH ======================================================== */

/* === START - FOCUS ======================================================== */
a:focus,
input:focus,
video:focus,
button:focus,
[type="checkbox"]:checked:focus+label:before,
[type="checkbox"]:not(:checked):focus+label:before {
	border: none;
	outline: 2px dotted rgb(78, 188, 225);
	transition: outline .25s ease-in-out;
}

/* === STOP - FOCUS ========================================================= */

/* === START - FOOTER ======================================================= */
#footer>a {
	position: absolute;
	right: 5px;
	bottom: 2px;
	line-height: 1px;
}

.legalInfo {
	margin-left: 5px;
	overflow-wrap: break-word;
}

.default #footer,
.sco #footer {
	background-color: rgba(1, 13, 37, 0);
}

/* === STOP - FOOTER ======================================================== */

/* === START - BALISE PEDAGOGIQUE =========================================== */
.resInFlow {
	text-align: center;
	margin: 10px;
}

.resInFlow_ti {
	background:#010d25;
	border-radius: 5px;
	margin: 5px 15%;
	padding: 8px;
}

.resInFlow_ti .bkBase {
	margin-top: 10px;
}

.resInFlow_ti .desc {
	text-align: left;
}

.listing {
	margin: 10px;
}

.pBk_ti {
	font-size: 1.2em;
	margin-bottom: 0px;
	line-height: 40px;
	color: #000000;
	text-align: right;
	font-family: 'decima';
}

.iBk_ti {
	font-size: 1.2em;
	margin-bottom: -10px;
	line-height: 40px;
	color: #434e52;
	margin-left: 15px;
}

.pBk_co {
	background-color:#ffffff;
	border-radius: 5px;
	border: dashed #010d25 2px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	padding: 1px 4px 4px 4px;
	margin-bottom: 15px;
	margin-right: 1px;
	color:black;
}



.warning {
	background-image: linear-gradient(0deg, #D51921 0%, rgba(0, 0, 0, 0) 100%);
}

.warning_ti i.type {
	color: #D51921;
}

.warning_co {
	background-color: rgba(238, 28, 37, 0.2);
	background-image: linear-gradient(to right, #D51921 0%, rgba(0, 0, 0, 0) 100%);
}

.basic {
	background-image: linear-gradient(0deg, #9F590E 0%, rgba(0, 0, 0, 0) 100%);
}

.basic_ti i.type {
	color: #9F590E;
}

.basic_co {
	background-color: rgba(159, 89, 14, 0.2);
	background-image: linear-gradient(to right, #9F590E 0%, rgba(0, 0, 0, 0) 100%);
}

.pBk_ti>span {
	display: flex;
}

.pBk_ti i.type {
	background: url("../img/content/blocks.svg") no-repeat scroll transparent;
	flex: 0 0 auto;
	height: 40px;
	margin-right: 20px;
	order: 2;
	padding-left: 40px;
}

.pBk_ti span.title {
	flex: 1 1 auto;
	margin-left: 20px;
	order: 1;
	text-align: left;
}

.warning_ti i.type {
	background-position: 0 4px;
	
}

.def_ti i.type {
	background-position: 0 -32px;
	color:#010d25 ;
	font-family: 'decimaitalic';
}

.remark_ti i.type {
	background-position: 0 -68px;
	color:#010d25 ;
	font-family: 'decimaitalic';
	
}

.legal_ti i.type {
	background-position: 0 -103px;
	color:#010d25 ;
	font-family: 'decimaitalic';
}

.remind_ti i.type {
	background-position: 0 -137px;
	color:#010d25 ;
	font-family: 'decimaitalic';
}

.method_ti i.type {
	background-position: 0 -174px;
	color:#010d25 ;
	font-family: 'decimaitalic';
}

.advice_ti i.type {
	background-position: 0 -209px;
	color:#010d25 ;
	font-family: 'decimaitalic';
}

.complement_ti i.type {
	background-position: 0 -241px;
	color:#010d25 ;
	font-family: 'decimaitalic';
}

.basic_ti i.type {
	background-position: 0 -278px;
	color: #010d25 ;
	font-family: 'decimaitalic';
}

.simulation_ti i.type {
	background-position: 0 -315px;
	color:#010d25 ;
	font-family: 'decimaitalic';
}

.example_ti i.type {
	background-position: 0 -354px;
	color:#010d25 ;
	font-family: 'decimaitalic';
}

.syntax_ti i.type {
	background-position: 0 -390px;
	color:#010d25 ;
	font-family: 'decimaitalic';
}

/* === STOP - BALISE PEDAGOGIQUE ============================================ */

/* === START - ICO =================Images cote lecon=================== */
.module .hBk>h2.hBk_ti:before,
.sco .mainContent>h2.mainContent_ti:before {
	content: " ";
	float: right;
	height: 120px;
	margin-right: 5px;
	width: 120px;
	z-index: 20;
	position: relative;
	margin-top: -30px;
	right: -10px;
	background-size: contain;
	background-repeat: no-repeat;
}

.module .expUc>h2.hBk_ti:before,
.sco .expUc>h2.mainContent_ti:before {
	background-position: 0px;
}

.module .intro>h2.hBk_ti:before,
.sco .intro>h2.mainContent_ti:before {
	background-position: 0;
}

.module .quiz>h2.hBk_ti:before,
.sco .quiz>h2.mainContent_ti:before {
	background-position: 0;
}

.module .courseUa>h2.hBk_ti:before,
.sco .courseUa>h2.mainContent_ti:before {
	background-position: 0;
}

.module .practUc>h2.hBk_ti:before,
.sco .practUc>h2.mainContent_ti:before {
	background-position: 0;
}

.module .conclu>h2.hBk_ti:before,
.sco .conclu>h2.mainContent_ti:before {
	background-position: 0;
}

.module .ueDiv>h2.hBk_ti:before,
.sco .ueDiv>h2.mainContent_ti:before {
	background-position: 0;
}

.module .quest>h2.hBk_ti:before,
.sco .quest>h2.mainContent_ti:before {
	background-position: 0;
}

.module .obj>h2.hBk_ti:before,
.sco .obj>h2.mainContent_ti:before {
	background-position: 0;
}

.module .assmntUa>h2.hBk_ti:before,
.sco .assmntUa>h2.mainContent_ti:before {
	background-position: 0;
}

/* === STOP - ICO =========================================================== */

/* === START - MENU DIVISION ================================================ */

.sw_child_navList {
	list-style-type: none;
	background-image: linear-gradient(180deg, #010d25 0%, rgba(255, 255, 255, 0) 100%);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	margin: 40px 0 0 40px;
}

.sw_child_navList>li {
	padding-bottom: 5px;
}

.sw_child_navList a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	
}

.sw_child_navList a:hover {
	text-decoration: underline;
}

/* === STOP - MENU DIVISION ================================================= */

/* === START - PRIMITIVE ==================================================== */

.txt_ili,
.txt_oli {
	color: #434e52;
}

.txt_ili>p,
.txt_oli>p {
	color: #000000;
}

.resLnk {
	color: #434e52;
	text-decoration: none;
}

.op_txt_ul {
	color: #434e52;
	text-decoration: none;
}

.op_txt_ul:hover {
	text-decoration: underline;
}

.op_txt_ul::after {
	color: #434e52;
	font-family: "fontello";
	content: " \e808";
}

.op_txt_ul:hover::after {
	font-family: "fontello";
	content: " \e809";
	font-size: 105%;
}

.home .op_txt_ul {
	color: white;
}

.home.op_txt_ul::after {
	color: white;
}

.txt_ico_tim img,
.txt_form_tim img {
	vertical-align: middle;
}

.txt_form_tim .MathJax_SVG_Display {
	display: inline !important;
}

.txt_ul {
	color: #434e52;
	text-decoration: none;
}

.dwnLnk {
	color: #434e52;
	text-decoration: none;
}

.dwnLnk:hover {
	text-decoration: underline;
}

.dwnLnk::after {
	font-family: "fontello";
	content: " \e803";
	color: #434e52;
}

.dwnLnk:hover::after {
	font-family: "fontello";
	content: " \2B63\FE0E";
	font-size: 105%;
}

.subLnk {
	color: #434e52;
	text-decoration: none;
}

.subLnk:hover {
	text-decoration: underline;
}

.subLnk::after {
	font-family: "fontello";
	content: " \e805";
	color: #434e52;
}

.subLnk:hover::after {
	font-family: "fontello";
	content: " \2B61\FE0E";
	font-size: 105%;
}

.infoAnc::after {
	font-family: "fontello";
	content: " \2606\FE0E";
}

.infoAnc:hover::after {
	font-family: "fontello";
	content: " \2605\FE0E";
	font-size: 105%;
}

.infoAnc.dwnLnk::after {
	font-family: "fontello";
	content: " \2606\FE0E \e805";
}

.infoAnc.dwnLnk:hover::after {
	font-family: "fontello";
	content: " \2605\FE0E \e804";
	font-size: 105%;
}

.txt_tb {
	border-collapse: collapse;
	margin: 15px auto;
}

.txt_tb th {
	border: 2px solid #434e52;
	background-color: #e0ecec;
}

.txt_tb td {
	border: 1px solid #434e52;
}

.txt_tb td.txt_word_tbtd {
	text-align: center;
}

.txt_tb td.txt_num_tbtd {
	text-align: right;
}

.txt_tb caption {
	font-style: italic;
}

.txt_tb p {
	margin: 0.1em 0.2em;
}

q:before,
q:after {
	content: " ";
}

.txtRes {
	display: flex;
	flex-flow: row;
}

.txtRes .img {
	flex: 0 0 auto;
}

.txtRes .txt {
	flex: 1 1 auto;
	align-self: center;
}

blockquote.rBk {
	position: relative;
}

blockquote.rBk:before {
	position: absolute;
	content: "«";
	font-size: 4em;
	left: -0.5em;
	top: -0.5em;
	color: #434E52;
	opacity: 0.6;
}

blockquote.rBk:after {
	position: absolute;
	content: "»";
	font-size: 4em;
	right: -0.5em;
	bottom: -0.2em;
	color: #434E52;
	opacity: 0.6;
}

.lnkDoc {
	margin: 0 1em 1em;
}

i.webInstruct p {
	margin-bottom: 0;
}

i.webInstruct {
	color: #676767;
}

.txt_auth_tl {
	font-weight: bold;
}

.txt_ed_tl {
	text-decoration: underline;
}

.cbkClosed a {
	text-decoration: none;
	color: #434e52;
}

a.iBk_closed::before,
a.iBk_open:hover::before {
	font-family: "fontello";
	content: "\e806 ";
	margin-right: 5px;
	font-size: 15px;
}

a.iBk_closed:hover::before,
a.iBk_open::before {
	font-family: "fontello";
	content: "\e807 ";
	margin-right: 5px;
	font-size: 18px;
}

/* === STOP - PRIMITIVE ===================================================== */


/* === START - QUIZ ========================================================= */

/* --- GENERAL STYLES ------------------------------------------------------- */
.quizBody {
	display: flex;
	flex-flow: column;
	margin-top: 4em;
}

.quizBody>* {
	flex: 0 0 auto;
}

.quizBody>.toolbar {
	order: 1;
}

.coQuiz .quizBody>.toolbar {
	order: 4;
}

.quizBody>.question {
	order: 2;
	margin-top: 20px;
	margin-bottom: 20px;
	background-image: linear-gradient(to right, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% 1px;
}

.quizBody>.subQuiz {
	order: 3;
}

.quizBody>.response {
	order: 3;
}

.quizBody>.globalExp {
	order: 4;
}

.toolbar {
	height: 40px;
	display: flex;
}

/* Toolbar dans liste de Quiz */
.subQuiz .toolbar {
	background-color: rgba(226, 224, 236, 0.3);
}

.subQuiz .quizBody {
	margin-top: 0;
}

.coQuiz .subQuiz .toolbar {
	background-color: #ffffff;
}

.btnQuiz {
	text-decoration: none;
	color: #010d25;
	font-weight: bold;
	line-height: 40px;
	margin-left: 20px;
	height: 40px;
	padding-left: 10px;
	padding-right: 5px;
	background-color: #ffffff;
	width: 100px;
	text-align: center;
	border: solid #010d25 3px ;
	border-radius: 10px;
	

}

.btnQuiz span {
	/*background: url("../img/tpl/toolbar-quiz.svg") no-repeat scroll transparent;*/*

	padding-right: 35px;
	display: inline-block;
	height: 40px;
}

.btnQuiz:hover {
	background-color: #010d25 ;
	color: #ffffff;
}

.correction span {
	background-position: right 5px;
}

.correction:hover span {
	background-position: right -81px;
}

.reset span {
	background-position: right -39px;
}

.reset:hover span {
	background-position: right -125px;
}

.scoreBox {
	line-height: 40px;
	font-weight: bold;
	margin-left: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.answBest {
	color: #468847;
}

.answWorst {
	color: #D51921;
}

.cbkClosed .cBk_closed {
	background: url("../img/quiz/practOpen.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.cbkClosed .cBk_open {
	background: url("../img/quiz/practClose.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.quest .hBk_co {
	background: url("../img/quiz/quest.png") no-repeat scroll transparent;
	padding-left: 42px;
	min-height: 60px;
}

.cbkClosed .cBk_ti a {
	padding-left: 25px;
}

.collBlk_open,
.globalExp {
	background-image: linear-gradient(180deg, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	margin-left: 9px;
	padding-left: 5px;
}

.exoAsw {
	margin-top: 20px;
}

/* --- QCU/QCM STYLES ------------------------------------------------------- */
.response_ti {
	font-weight: normal;
	font-size: 1em;
	display: flex;
	flex-flow: row;
	font-style: italic;
	color: #676767;
	margin: 0;
}

.response_ti>span:nth-child(-n+2) {
	flex: 0 0 auto;
	width: 6em;
}

.response_ti>span:last-child {
	flex: 1 1 auto;
}

ul.choiceList {
	display: flex;
	flex-flow: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li.choiceList_ch {
	flex: 0 0 auto;
	display: flex;
	flex-flow: row;
}

.choiceList_in {
	flex: 0 0 auto;
	width: 6em;
}

.choiceList_sol {
	flex: 0 0 auto;
	width: 6em;
}

.choiceList_la {
	flex: 1 1 auto;
}

.choiceList_la p {
	margin-top: 0;
	margin-left: 0;
}

/* --- QCU/QCM GRAPHIQUE ------------------------------------------------------- */
.choiceMap_map {
	margin: 0 auto;
}

/* --- CATEGORISATION/ORDONNANCEMENT ------------------------------------------------------- */
.mtTable {
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
}

.mtTable td {
	vertical-align: top;
}

.mtTdBasket {
	width: 30%;
}

.mtTdBasketSol {
	display: none;
}

.mtTdArrow {
	width: 20px;
	background: url("../img/quiz/drag.svg") no-repeat center center;
}

.mtTdSol {
	width: 50%;
}

.mtTdDropCont,
.mtTdBasket {
	padding: 0px;
	margin: 0px;
}

.mtTdBasket .ddBasket,
.mtTdBasket .ddBasketCatch {
	min-height: 250px;
}

.mtTdHeading {
	text-align: center;
}

.olTableSol {
	width: 100%;
}

.olTdSolHead {
	width: 9em;
}

.ddBasket {
	margin-bottom: 5px;
}

.ddBasketCatch,
.ddDropCatch {
	border: 1px solid #434e52;
}

.ddBasketCont,
.ddDropCont {
	padding: 2px;
}

.ddBasketSol,
.ddDropContIfEmpty span {
	display: none;
}

.ddRepArea {
	margin-bottom: 5px;
}

.mtLabel p,
.mtLabelSol p,
.ddLabel p,
.ddLabelSol p {
	text-indent: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 1.1em;
}

.ddDropTi {
	font-weight: bold;
	background-color: #434e52;
	color: white;
	text-align: center;
}

.ddDropContIfEmpty {
	height: 27px;
	background: url("../img/quiz/drop.svg") no-repeat center center;
}

.mtTdSol .ddDropContIfEmpty,
.olTableSol .ddDropContIfEmpty {
	background: inherit;
}

/*Cadre gris des étiquettes */
.ddLabel,
.ddLabelSol {
	text-align: center;
	border: 1px solid Gray;
	background-color: White;
	padding: 2px;
	width: 10em;
	cursor: move;
	margin: 0.1em 0.1em 0.2em 0.1em;
	display: inline-block;
	zoom: 1;
	/* Hack inline-block pour ie6 & 7*/
	vertical-align: top;
}

.mtLabel,
.mtLabelSol {
	display: inline-block;
	zoom: 1;
	/* Hack inline-block pour ie6 & 7*/
	vertical-align: top;
	padding: 2px;
	margin: 2px;
	border: 1px solid Gray;
	background-color: white;
	cursor: move;
}

.mtLabel span.myTT_a {
	cursor: move;
}

.mtLabelSol,
.mtLabelSol span.myTT_a,
.ddLabelSol {
	cursor: default;
}

/*Survol des paniers */
.ddBasketDragOver,
.ddCatchDragOver {
	background-color: #e0ecec;
}

/*Fin du panier*/
.ddBasketEnd,
.ddCatchDragEnd {
	clear: both;
}

/*Titres des catégories et des étiquettes  */
.ddDropTi p,
.ddLabel p,
.ddLabelSol p {
	margin: 0px;
	text-align: center;
}

/* Si le panier de propositions est vide */
.ddBasketIfEmpty {
	clear: both;
	font-style: italic;
	font-size: 0.9em;
	color: #686868;
	text-align: center;
	padding: 5px 0px;
}

/*Réponse juste*/
.ddLabel_Right,
.assmntResult_Right {
	cursor: default;
	padding: 1px;
	border: 2px solid #468847;
}

.ddLabel_Right span.myTT_a,
.assmntResult_Right span.myTT_a {
	cursor: default;
}

/*Réponse fausse */
.ddLabel_Wrong,
.assmntResult_Wrong {
	cursor: default;
	padding: 1px;
	border: 2px solid #D51921;
}

.ddLabel_Wrong span.myTT_a,
.assmntResult_Wrong span.myTT_a {
	cursor: default;
}

.subQuiz {
	padding: 0 0 20px 0;
}

.subQuiz_ti {
	border-bottom: 1px solid;
}

/* --- TAT ------------------------------------------------------- */
.cloze p {
	line-height: 1.6em;
}

.gapAnswer {
	border-radius: 0px 3px 3px 0px;
	border-left: 0px;
	background-color: #E0ECEC;
	padding: 2px 4px;
}

.assmntResult_0 input {
	color: red;
	text-decoration: line-through;
}

.assmntResult_1 input {
	color: green;
}

/* --- EVALUATION ------------------------------------------------------- */
.assmntUa .gotoEval {
	text-align: center;
}

.assmntUa .gotoEval .btnEval {
	background: url("../img/tpl/button-start.svg") no-repeat scroll right center / 40px 40px transparent;
	color: #434e52;
	display: inline-block;
	font-size: 1.2em;
	height: 40px;
	padding-right: 50px;
	text-decoration: none;
	line-height: 40px;
}

.assmntUa .gotoEval .btnEval:hover {
	opacity: 0.9;
}

.assmntUa #content .obj {
	background-color: #e0ecec;
	margin: 20px 10%;
	padding: 10px;
}

/* Eval buttons */
.btnStartE,
.btnRestartE,
.btnScoreE,
.btnValidateE,
.btnCloseE,
.btnGotoSolE {
	background: url("../img/quiz/eval.svg") no-repeat scroll transparent;
	height: 33px;
	display: inline-block;
	padding-right: 40px;
	padding-left: 40px;
	color: #434e52;
	font-size: 1.2em;
	text-decoration: none;
	line-height: 33px;
}

.btnStartE:hover,
.btnValidateE:hover,
.btnCloseE:hover,
.btnRestartE:hover,
.btnScoreE:hover,
.btnGotoSolE:hover {
	opacity: 0.9;
}

.btnStartE {
	background-position: right 0;
}

.btnValidateE {
	background-position: right 0;
}

.btnCloseE {
	background-position: right 0;
}

.btnRestartE {
	background-position: right -36px;
}

.btnScoreE {
	background-position: right -73px;
}

.btnGotoSolE {
	background-position: right -109px;
}

.solBody .question .rBk {
	background: none;
}

.solBody .question,
.solBody .score,
.solBody .sol,
.solBody .explain {
	padding-left: 50px;
	min-height: 50px;
	margin: 0.6em 0 0.3em 0em;
}

.solBody .question_ti,
.solBody .score_ti,
.solBody .sol_ti,
.solBody .explain_ti {
	font-style: italic;
	font-weight: bold;
	color: #434e52;
}

.solBody .question {
	background: url("../img/quiz/quest.png") no-repeat scroll transparent;
}

.solBody .score {
	background: url("../img/quiz/score.png") no-repeat scroll transparent;
}

.solBody .sol {
	background: url("../img/quiz/sol.png") no-repeat scroll transparent;
}

.solBody .explain {
	background: url("../img/quiz/explain.png") no-repeat scroll transparent;
}

/* === STOP - QUIZ ======================================================== */

/*=== PWA ==================================================*/
.installApp,
.notificationPermission {
	text-align: left;
	top: 0.6rem;
	left: auto;
	position: absolute;
	z-index: 2;
}

.installApp,
.notificationPermission {
	right: 0.2rem;
}

.pwabutton_visible_true .notificationPermission {
	right: 3.2rem;
}

.module .installApp {
	left: 17.5rem;
	right: auto;
}

.module .notificationPermission {
	right: auto;
	left: 17.5rem;
}

.module.pwabutton_visible_true .notificationPermission {
	left: 14.5rem;
}

.installApp button,
.notificationPermission button {
	border-radius: 50%;
	padding: 0;
	border: none;
	background: #e0ecec;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.installApp button span,
.notificationPermission button span {
	display: none;
}

.installApp button:before,
.notificationPermission button:before {
	color: #434e52;
	font-size: 2rem;
}

.installApp button:before {
	content: '+';
	font-size: 2rem;
}

.notificationPermission button:before {
	font-family: "fontello";
	content: " \1F514\FE0E";
	font-size: 1.5rem;
}

.installApp button:hover,
.notificationPermission button:hover {
	text-decoration: none;
}

/*==========================================================*/

/* === START - TOOLS ======================================================== */
/*Question de synthèse */
.tools .synth .hBk_ti,
.tools .credits .hBk_ti {
	background-image: linear-gradient(to right, #2cafe8 0%, rgba(0, 0, 0, 0) 100%);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	font-size: 1.6em;
	padding-bottom: 4px;
}

/*REF */
.tools .refOutline {
	background-color: #e0ecec;
	margin: 1em;
	margin-bottom: 20px;
	padding: 5px;
	text-align: center;
}

.mField_ti {
	font-weight: bold;
	color: #434e52;
}

.tools .refOutlineEntry,
.tools .mField_ti {
	margin: 1em;
	font-weight: bold;
	color: #434e52;
}

.tools .refOutlineEntry a {
	color: #434e52;
	text-decoration: none;
}

.tools .refOutlineEntry a:hover {
	text-decoration: underline;
}

.tools .refCateg {
	margin: 1em 0em;
	color: #434e52;
	font-size: 2em;
}

.tools dfn,
.tools dt {
	color: #434e52;
	font-weight: bold;
}

.tools dd {
	margin-left: 15px;
}

.tools .mDiv,
.tools .mField {
	background-image: linear-gradient(180deg, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 1px 100%;
}

/*Credits*/
#content .credits_ti {
	font-weight: bold;
	color: #434e52;
	margin: 10px 10px 0px 0px;
	font-size: 1.3em;
}

#content .credits_co {
	margin-left: 20px;
}

#content .credits {
	margin: 20px 0px;
}

#content .credits .legalInfo {
	display: block;
	font-size: 80%;
	padding-left: 3px;
	margin-bottom: 15px;
}

.resCredits {
	margin-top: 5px;
	padding-left: 16px;
	background-image: linear-gradient(180deg, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 1px 100%;
}

.resCredits .legalInfo {
	margin-left: 0px;
	border-left: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

.resCreditsLnk {
	text-decoration: none;
	padding-right: 12px;
	color: #434e52;
}

a.resCreditsLnk:hover {
	text-decoration: underline;
}

/*Index des mots clés*/
.index .idxEntryTi {
	color: #434e52;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 3px;
}

.idxEntryCaller a {
	color: #434e52;
	text-decoration: none;
}

.idxEntryCaller a:hover {
	text-decoration: underline;p
}

.idxEntryCaller .stackSep {
	color: #434e52;
	font-weight: bold;
}

/* === STOP - TOOLS ======================================================== */

/* === START - SCIMGMGR ===================================================== */
.imgZoom {
	display: inline-block;
}

.imgLoading .scImgGalCvs::before {
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../img/content/loader.svg");
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 2001;
	width: 100%;
	height: 100%;
}

.imgLoading .scImgGalFra {
	display: none;
}

.galFra {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: left;
}

.galFra img {
	padding: 5px;
}

.scImgSep {
	display: none;
}

a.galPvLnk:hover {
	opacity: 0.8;
}

.scImgGalCvs {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2001;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.scImgGalImgFra {
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	padding-bottom: 30px;
	overflow: hidden;
}

.scImgGalCo {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 0;
}

.scImgGalTbr {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.scImgGalTbr .scImgGalCount {
	display: inline;
	bottom: 5px;
	right: 35px;
	font-style: italic;
	color: gray;
	cursor: default;
}

div.scImgGalOver,
div.scImgZmOver {
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

div.scImgGalTi {
	font-style: italic;
	color: gray;
	cursor: default;
	font-size: 12px;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

div.scImgGalTbr span,
a.scImgGalBtnCls span {
	display: none;
	position: absolute;
}

a.scImgGalBtnCls,
a.scImgZmBtnCls,
div.scImgGalTbr a {
	font-family: 'fontello' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ffffff;
	width: 30px;
	text-align: center;
	text-decoration: none;
}

a.scImgGalBtnCls:before,
a.scImgZmBtnCls:before {
	content: "\1F5D9\FE0E";
}

a.scImgGalBtnCls,
a.scImgZmBtnCls {
	display: block;
	top: 5px;
	right: 5px;
	font-size: 2em;
}

.isMobile_true a.scImgGalBtnCls,
.isMobile_true a.scImgZmBtnCls {
	top: 10px;
}

a.scImgGalBtnCls,
.isMobile_true a.scImgZmBtnCls {
	position: absolute;
}

div.scImgGalTbr a {
	display: block;
	position: absolute;
}

div.scImgGalTbr a:hover {
	text-decoration: none;
}

a.scImgGalBtnPrv,
a.scImgGalBtnNxt {
	top: 1.5em;
	font-size: 4em;
	margin-top: -1.25em;
	position: fixed !important;
	width: 1em !important;
	height: 100%;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.isMobile_true a.scImgGalBtnPrv,
.isMobile_true a.scImgGalBtnNxt {
	position: absolute !important;
}

a.scImgGalBtnPrv:before {
	content: "\e833";
}

a.scImgGalBtnPrv {
	left: 5px;
}

a.scImgGalBtnNxt:before {
	content: "\ea34";
}

a.scImgGalBtnNxt {
	right: 5px;
}

a.scImgGalBtnPse:before {
	content: "\23F8\FE0E";
}

a.scImgGalBtnPly,
a.scImgGalBtnPse {
	font-size: 1.5em;
	color: gray !important;
	bottom: 4px;
	right: 0;
}

a.scImgGalBtnPly:before {
	content: "\23F5\FE0E";
}

.noScroll {
	overflow: hidden;
}

div.scImgZmCvs {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 2001;
	width: 100%;
	height: 100%;
}

.imgLoading .scImgZmCvs::before {
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../img/content/loader.svg");
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 2001;
	width: 100%;
	height: 100%;
}

div.scImgZmFra {
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}

div.scImgZmTlb {
	margin-top: 5px;
	text-align: right;
}

a.scImgZmBtnCls {
	position: fixed;
}

a.scImgZmBtnCls span,
a.scImgGalBtnNoPrv {
	display: none;
}

.scImgZmCo {
	text-align: center;
}

.scImgZmCo div {
	z-index: 2002;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	border: 0px;
}

.scImgZmCo iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	border: 0px;
}

.scImgZmCo a {
	text-decoration: none;
}

.scImgZmCo a img {
	border: 0px;
}

.scImgZmCo img {
	background-color: white;
}

/* === STOP - SCIMGMGR ====================================================== */

/* === START - SCORM ======================================================== */
body.sco {
	padding: 0 1em 0 2em;
}

.default.quit #root {
	background: none;
}

.home #navigation a.btnScormResume {
	background: url(../img/tpl/button-resume.svg) no-repeat right;
	background-size: 40px 40px;
	background-color: rgba(67, 78, 82, 0.7);
}

.default.scorm #tools ul.mnu {
	margin-left: 50px;
}

.home #navigation a.btnScormQuit,
.default #tools a.btnScormQuit {
	display: inline-block;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	padding-left: 40px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
	background-position: 0 -80px;
	position: absolute;
	left: 28px;
	top: 4px;
}

.home #navigation a.btnScormQuit {
	background-position: 0 -160px;
}

.default.scorm #menu .mnu .item {
	margin-right: 20px;
}

.scormSeen {
	position: absolute;
	top: 2px;
	right: 2px;
}

.btnScormSeen {
	display: inline-block;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	padding-left: 16px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
	background-position: 0 -96px;
	opacity: 0.3;
}

.btnScormSeen.scormSeen_true {
	background-position: 0 -128px;
	opacity: 1;
}

.sco .subWindow_win {
	position: fixed !important;
}

/* === STOP - SCORM ========================================================= */

/* === START - RESPONSIVE DESIGN ============================================ */

/* tablets - portrait */
@media (max-device-width: 800px) and (orientation: portrait) {
	.default #toolbox {
		display: none;
	}

	.default #document {
		-webkit-order: 1;
		order: 1;
	}

	.default #root {
		background-image: none;
	}

	.default #navigation a.btnZen {
		display: none;
	}
}

/*phones*/
@media (max-device-width: 500px) and (orientation: portrait),
(max-device-height: 500px) and (orientation: landscape) {
	html {
		font-size: 0.8em;
		height: initial;
		width: initial;
		overflow: initial;
		position: initial;
	}

	body {
		margin: 0;
	}

	.home #root section.article {
		margin-left: 5%;
		margin-right: 5%;
	}

	.home #content .logo {
		right: 5%;
		box-shadow: none;
	}

	.default #root {
		position: relative;
		background: #434e52;
	}

	.default #header {
		position: relative;
		background: white url(../img/tpl/back-top-straight.svg) no-repeat bottom;
		background-size: 100% 60px;
		height: auto;
		flex: 0 0 60px;
	}

	.default #header h1 {
		text-align: left;
		padding: 0.7em 3em 0 0.5em;
	}

	.default #main {
		flex-flow: column;
		background: none;
	}

	.default #document {
		order: 1;
		flex: 0 0 auto;
		margin: 0;
	}

	.default .scroller {
		position: relative;
		overflow: visible;
	}

	.default #menu {
		margin-bottom: 0;
		background-color: #e0ecec;
	}

	.default #menu>.mnuSrlUpFra {
		margin-top: 5px;
		flex: 0 0 30px;
	}

	.default #menu>.mnuSrlDwnFra {
		flex: 0 0 30px;
	}

	.default #menu .mnuSrlUpBtn,
	.default #menu .mnuSrlDwnBtn {
		width: 310px;
		height: 30px;
		padding-left: 310px;
		background-position: 0px 6px;
	}

	.default #menu .mnuSrlDwnBtn {
		background-position: 0px -40px;
	}

	.default .schCmds {
		/* TODO : stylage des résultats de recherche */
		display: none;
	}

	.default #toolbox {
		display: flex;
		order: 2;
		margin-top: -50px;
	}

	.default #tools {
		flex: 0 0 50px;
		z-index: 2;
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
	}

	.default #tools .anc_yes .lbl {
		border-radius: 30px 30px 0 0;
	}

	.default #tools ul {
		padding: 5px 0 0 0;
		margin: 0;
	}

	.default #tools li {
		display: inline-block;
		height: auto;
	}

	.default #navigation {
		background: white url(../img/tpl/back-bottom-straight.svg) no-repeat top;
		background-size: 100% 60px;
		z-index: 1;
	}

	.default #navigation li {
		height: auto;
	}

	.default #navigation a.btnZen {
		display: none;
	}

	.txtRes {
		flex-flow: column;
	}

	.module .hBk>h2.hBk_ti:before {
		background-size: 70%;
		height: 85px;
		margin-right: 0;
		margin-top: -20px;
	}

	.module .expUc>h2.hBk_ti:before {
		background-position: 0 0;
	}

	.module .intro>h2.hBk_ti:before {
		background-position: 0 -87px;
	}

	.module .quiz>h2.hBk_ti:before {
		background-position: 2px -175px;
	}

	.module .courseUa>h2.hBk_ti:before {
		background-position: 2px -262px;
	}

	.module .practUc>h2.hBk_ti:before {
		background-position: 2px -350px;
	}

	.module .conclu>h2.hBk_ti:before {
		background-position: 2px -439px;
	}

	.module .ueDiv>h2.hBk_ti:before {
		background-position: 2px -524px;
	}

	.module .quest>h2.hBk_ti:before {
		background-position: 2px -613px;
	}

	.module .obj>h2.hBk_ti:before {
		background-position: -2px -698px;
	}

	.module .assmntUa>h2.hBk_ti:before {
		background-position: 2px -783px;
	}

	#accessibility .waiTools a {
		background: url("../img/tpl/mnuMobile.svg") no-repeat scroll 0 0 / 30px auto rgba(0, 0, 0, 0);
		height: 30px;
		position: absolute;
		width: 30px;
		opacity: 1;
		top: 13px;
		right: 15px;
	}

	#accessibility .waiTools a:hover {
		opacity: 0.7;
	}

	.waiTools a span {
		display: none;
	}

	.pBk_ti i.type {
		margin-right: 5px;
	}

	.pBk_ti i.type span {
		display: none;
	}

	.module .installApp {
		left: auto;
		right: 4.5rem;
		top: 0.5rem;
	}

	.module .notificationPermission {
		left: auto;
		right: 4.5rem;
		top: 0.5rem;
	}

	.module.pwabutton_visible_true .notificationPermission {
		right: 7.5rem;
		left: auto;
	}
}

@media (max-device-height: 500px) and (orientation: landscape) {
	.home #root section.article {
		margin-top: 5%;
	}

	.home #content img {
		width: auto;
		max-height: 250px !important;
	}
}

@media (max-device-width: 500px) and (orientation: portrait) {
	.home #content img {
		max-width: 100% !important;
		height: auto;
	}
}

/* === STOP - RESPONSIVE DESIGN ============================================= */


/* === START - EMERAUDE ============================================= */
.emeraude.default #header,
.emeraude.sco #header {
	background: rgba(0, 0, 0, 0) url("../img/tpl/back-top-straight.svg") no-repeat scroll center top / 100% 65px;
}

.emeraude.default #main {
	background: rgba(0, 0, 0, 0) url("../img/tpl/back-bottom-straight.svg") no-repeat scroll center bottom / 100% 65px;
}

.emeraude.home section.article {
	margin-top: 10%;
	background: none;
}

.emeraude .zen_true #toolbox {
	flex: 0 0 60px;
	display: flex;
}

.emeraude .zen_true #document {
	order: 2;
	margin-top: 0;
}

.emeraude .zen_true #menu,
.emeraude .zen_true .schCmds {
	display: none;
}

.emeraude .zen_true #main {
	flex-flow: column;
}

.emeraude.default #navigation a.btnZen {
	bottom: 0;
	left: 15px;
	position: absolute;
	background-image: url("../img/tpl/mnuEmeraude.svg");
	background-repeat: no-repeat;
	background-size: 40px auto;
	height: 50px;
	width: 48px;
	padding-left: 48px;
	z-index: 2;
}

.emeraude.default .zen_true #navigation a.btnZen {
	background-position: center 5px;
}

.emeraude.default .zen_false #navigation a.btnZen {
	background-color: #e0ecec;
	border-radius: 30px 30px 0 0;
	background-position: center -50px;
}

.emeraude.home #navigation .scormSendResult {
	float: right;
	margin-right: 1em;
}

.emeraude.home #navigation a.btnSendResult {
	background-image: url("../img/tpl/button-exit.svg");
}

.emeraude.default #tools a.btnSendResult {
	background: rgba(0, 0, 0, 0) url("../img/tpl/button-exit.svg") no-repeat scroll center top / 40px 40px;
	box-sizing: border-box;
	display: inline-block;
	height: 40px;
	overflow: hidden;
	padding-left: 40px;
	padding-top: 1em;
	width: 40px;
	position: absolute;
	left: 80px;
	top: 4px;
}

.emeraude.default.scorm #tools ul.mnu {
	margin-left: 105px;
}

.emeraude.default #navigation li {
	height: 45px;
}

.emeraude.default.scorm #tools .lbl {
	margin: 0 0 0 0.5em;
}

/* === STOP - EMERAUDE ============================================= */

/* === START - RICHSTREAM ============================================= */
.teContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.teContainer:not(.teReady) {
	opacity: 0.5;
}

.teContainer:not(.teReady)>.hBk_co {
	opacity: 0;
}

/* Alternative à l'icône de l'activé en float : absolu et flex avec pseudo after de la même taille que l'icône */
.module .teContainer>h2.hBk_ti:before {
	position: absolute;
	right: 1em;
}

.teContainer>h2.hBk_ti {
	display: flex;
	
}

.teContainer>.hBk_ti::after {
	content: '';
	display: block;
	margin-right: 10px;
	width: 120px;
}

.teContainer>.hBk_co {
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 0;
}

.teMainArea {
	display: flex;
	flex: 1;
	min-height: 0;
	overflow: hidden;
}

.teSegmentHead_ti {
	background-image: linear-gradient(to right, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-size: 100% 1px;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 4px;
	font-size: 1.3em;
	margin-top: 0;
}

/* Media */
.teMediaArea {
	min-width: 0;
	min-height: 0;
}

.teMediaArea video {
	background: transparent;
}

.teContainer.teVideoType .teMediaArea {
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

/* Force un aspect 16:9 sur les iframes */
.teMediaArea>mediaelementwrapper {
	position: relative;
	overflow: hidden;
	flex: 0 1 auto;
	display: block;
}

.teMediaArea>mediaelementwrapper::before {
	content: "";
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.teMediaArea>mediaelementwrapper>* {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}

.teContainer.teVideoType .teMediaArea::after {
	content: '';
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 75px;
	height: 75px;
	pointer-events: none;
	justify-content: center;
	align-items: center;
	color: white;
}

.teContainer.teVideoType.tePaused:not(.tePlayed) .teMediaArea::after {
	background: transparent url("../img/richStream/videoPlayPause.svg") no-repeat 0 0;
}

.teContainer.teVideoType.teVideoPlay .teMediaArea::after {
	background: transparent url("../img/richStream/videoPlayPause.svg") no-repeat 0 0;
	animation: bezelFadeout .5s linear 1 normal forwards;
}

.teContainer.teVideoType.teVideoPause .teMediaArea::after {
	background: transparent url("../img/richStream/videoPlayPause.svg") no-repeat 0 -75px;
	animation: bezelFadeout .5s linear 1 normal forwards;
}

@keyframes bezelFadeout {
	0% {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: scale(2)
	}
}

.teMediaArea>.teSubtitles {
	text-align: center;
	font-size: 1.2em;
	padding: 0 1em;
	box-sizing: border-box;
	margin-top: -2.2em;
	z-index: 1;
}

.teMediaArea>.teSubtitles>div {
	display: inline-block;
	background: rgba(0, 0, 0, 0.7);
	padding: 0.5em;
	border-radius: 0.5em;
	color: #fff;
	text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
	margin: 0 auto;
	white-space: pre-line;
}

/* Content */
.teContentArea {
	display: flex;
	flex: 0 0 0px;
	transition: flex 0.5s;
	position: relative;
	min-width: 0;
	align-items: center;
	justify-content: center;
}

.teContainer.teActiveAside .teContentArea {
	flex-basis: 50px;
}

.teContainer.teActiveSegment .teContentArea,
.teContainer.teActivePause .teContentArea {
	flex-basis: 60%;
}

.teContainer.teActiveSegment.teActiveAside .teContentArea,
.teContainer.teActivePause.teActiveAside .teContentArea {
	flex-basis: calc(60% + 50px);
}

.teContainer.teAudioType .teContentArea {
	flex-grow: 1;
}

.teSegment,
.tePause {
	flex: 1;
	margin: 1em;
	transition: opacity 0.3s ease-in;
}

.teSegmentAside {
	transition: opacity 0.3s ease-in;
}

.tePause {
	align-self: stretch;
	overflow: auto;
}

.teSegment[hidden],
.tePause[hidden],
.teSegmentAside[hidden],
.teContainer.teActivePause .teSegment,
.teContainer.teActivePause .teSegmentAside {
	display: block;
	flex: 0;
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	margin: 0;
	visibility: hidden;
}

/* Compléments */
.teSegmentCompls {
	list-style: none;
	padding: 1em 0;
	margin: 0;
}

.teSegmentCompl {
	display: block;
	position: relative;
	margin: 1em 0;
	text-align: right;
	width: 35px;
	height: 40px;
	background: url(../img/content/blocks.svg) no-repeat scroll transparent;
	background-position: 0 -241px;
}

.teSegmentCompl {
	color: #434e52;
}

.teSegmentCompl>span {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0.5em;
	transition: opacity 0.4s ease-in;
	opacity: 0;
	visibility: hidden;
	white-space: nowrap;
	position: absolute;
	right: -1000px;
	height: 40px;
	line-height: 45px;
	z-index: 2;
	font-weight: bold;
	padding: 0 0.5em;
}

.teSegmentCompl:hover>span,
.teSegmentCompl:focus>span {
	opacity: 1;
	visibility: visible;
	right: 45px;
}

/* Controleur */
.teController {
	display: flex;
	flex: 0 0 3em;
	margin-top: 0.5em;
	position: relative;
	justify-content: space-between;
	justify-content: space-evenly;
}

.teController>* {
	margin: 0 0.5em;
}

.teControllerNavArea {
	display: flex;
	flex-direction: column;
	flex: 3;
}

.teTimeline {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	flex: 1;
	position: relative;
	border: solid 1px #434e52;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.teTimeline li {
	position: relative;
	display: flex;
}

.teTimeline li>div {
	display: flex;
}

.teTimeline a {
	display: flex;
	flex: 1 1 100%;
	border-left: solid 1px #434e52;
	color: inherit;
	text-decoration: inherit;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.teTimeline a:hover {
	cursor: pointer;
}

.teTimeline a span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.teTimeline li.teActive>a {
	background-color: #727d80;
}

.teTimeline li>a.tlQuizList {
	display: none;
	background-color: silver;
	flex: 1 2 1em;
	border-left-style: dashed;
}

.teTimeline li:hover>a.tlQuizList,
.teTimeline li.teActive>a.tlQuizList {
	display: block;
}

.teTimeline a:hover {
	outline: none;
	background-color: silver;
}

.teTimeline a:active {
	outline: none;
	background-color: grey;
}

.teTimeline li:first-child a:first-child {
	border-left: none;
}

.teTimeline a>span {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.teTimeline li>ul a {
	border-top: none;
}

.tlQuizList {
	display: none;
	background-color: silver;
	flex: 1 2 1em;
	border-left-style: dashed;
}

.teTimeline li:hover>.tlQuizList,
.teTimeline .teActive>.tlQuizList {
	display: block;
}

.teTimes {
	display: flex;
	flex-direction: column;
}

.teTimes>* {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.teQuizListActions {
	text-align: center;
}

.teQuizListStart .tePauseNext {
	background: url(../img/tpl/button-start.svg) no-repeat scroll right center / 40px 40px transparent;
	color: #434e52;
	display: inline-block;
	font-size: 1.2em;
	height: 40px;
	padding-right: 50px;
	text-decoration: none;
	line-height: 40px;
}

.tePauseNext,
.tePauseResume {
	background: url(../img/quiz/eval.svg) no-repeat scroll transparent;
	background-position: right 0;
	height: 33px;
	display: inline-block;
	padding-right: 40px;
	padding-left: 40px;
	color: #434e52;
	font-size: 1.2em;
	text-decoration: none;
	line-height: 33px;
}

/* Panel */
.teController>.panel {
	position: absolute;
	bottom: calc(100% + 10px);
	z-index: 1;
	padding: 0.2em 30px 0.2em 1em;
	background-color: white;
	border: 2px solid #434e52;
}

.teController>.panel>.panelLabel {
	width: 2.4em;
	background-size: auto 1.6em;
}

.teController>.panel>.panelLabel[hidden] {
	display: none !important;
}

.teController>.panel>.panelLabel:hover {
	opacity: 0.7;
}

.teController>.panel>.panelClose {
	border: none;
	background: transparent center / contain no-repeat;
	color: inherit;
	-webkit-appearance: none;
	padding: 0;
	font-size: inherit;
	margin: 0;
	cursor: pointer;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
	background-position: 0 -32px;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 2px;
	top: 2px;
}

.teController>.panel>.panelClose>span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

.teController>.panelInput {
	display: none;
}

.teController>.panelInput:not(:checked)+.panelLabel+.panel {
	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

/* Boutons */
.teController button,
.teController>label {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #434e52;
	position: relative;
	cursor: pointer;
}

.teController button {
	background: none;
	border: none;
	min-height: 0;
}

.teController button:disabled {
	opacity: 0.5;
}

.teController>input:checked+label::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0.2em;
	height: 0.2em;
	background-color: #434e52;
}

.teController>input[type=checkbox] {
	display: none;
}

.teController button>span,
.teController>label>span {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.tePlayPause::before,
.tePreviousTime::before,
.teNextTime::before,
.teMute::before,
.teAudioDesc_label::before,
.teAltMedia_label::before,
.teSubtitlesPanel_label::before,
.teTocPanel_label::before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	background: transparent url("../img/richStream/icons.svg") no-repeat 0 0;
}

.tePlayPause::before {
	background-position: 0 0;
}

.tePlayPause[aria-pressed=true]::before {
	background-position: 0 -20px;
}

.teContainer.teSeeking .tePlayPause::before {
	background-position: 0 -40px;
	animation: spin 2s linear infinite;
}

.tePreviousTime::before {
	background-position: 0 -60px;
}

.teNextTime::before {
	background-position: 0 -80px;
}

.teMute::before {
	background-position: 0 -100px;
	width: 21px;
}

.teMute[aria-pressed=true]::before {
	background-position: 0 -120px;
	width: 21px;
}

.teAudioDesc_label::before {
	background-position: 0 -160px;
	width: 30px;
}

.teAltMedia_label::before {
	background-position: 0 -200px;
}

.teSubtitlesPanel_label::before {
	background-position: 0 -220px;
	width: 24px;
}

.teTranscriptLink {
	display: flex;
	width: 2em;
	justify-content: center;
	align-items: center;
	color: #434e52;
}

.teTranscriptLink::before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	background: transparent url("../img/richStream/icons.svg") no-repeat 0 -180px;
}

.teTranscriptLink>span {
	display: none;
}

.teVolumeArea {
	position: relative;
	display: flex;
}

.teController input[type=range] {
	display: block;
	border: solid 1px #434e52;
	color: #e0ecec;
	padding: 0;
	margin: 0;
}

input[type=range].teVolume {
	height: 0.5em;
	width: 7em;
	align-self: center;
	transform: translateX(7em) rotate(-90deg);
	transform-origin: left;
	margin-left: -7em !important;
	position: absolute;
	left: 50%;
	top: 0.1em;
	visibility: collapse;
	opacity: 0;
	transition: visibility 0s 1.5s, opacity 0.5s 1s;
}

input[type=range].teSeek {
	margin-bottom: 0.2em;
	width: auto;
	flex: 0 0 0.8em;
}

.teController input[type=range]:hover,
.teController input[type=range]:focus,
.teMute:hover+input[type=range].teVolume,
.teMute.focus+input[type=range].teVolume {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s 0s, opacity 1s 0s;
}

.teSubtitlesList {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.teSubtitle_input {
	display: none;
}

.teSubtitle_input:checked+label {
	text-decoration: underline;
}

.teSubtitlesPanel {
	right: 0;
	padding-right: 20px;
}

/* Toc */
.teTocPanel {
	left: 0;
	right: 0;
	width: 80%;
	margin: 0 auto;
}

.teTocPanel_label::before {
	background-position: 0 -140px;
}

.teToc {
	padding-left: 0;
	list-style: none;
}

.teToc li {
	margin: 0.3em 0;
}

.teToc a {
	color: black;
	text-decoration: none;
}

.teToc li.teActive>a {
	text-decoration: underline;
}

.teToc a:hover {
	text-decoration: underline;
}

/* === STOP - RICHSTREAM ============================================= */
.icon-ld:before,
.icon-md:before,
.icon-hd:before {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 120%;
}
.icon-ld:before { content: 'LD'; margin-right: 0.4em; }
.icon-md:before { content: 'MD'; margin-right: 0.6em; }
.icon-hd:before { content: 'HD'; margin-right: 0.4em; }


[class^="icon-"], [class*=" icon-"]{
	background:transparent url("../img/player/icons.svg") no-repeat 0 0;
	display: inline-block;
	height: 18px;
	width: 18px;
	vertical-align: middle;
	margin: 0 5px;
}

.player_bk button:not([disabled]):hover .icon-play { background-position:0 0; }
.icon-play { background-position:0 -20px; }

.player_bk button:not([disabled]):hover .icon-pause { background-position:0 -40px; }
.icon-pause { background-position:0 -60px; }

.player_bk button:not([disabled]):hover .icon-muted{ background-position:0 -80px; }
.icon-muted { background-position:0 -100px; width:21px; }

.player_bk button:not([disabled]):hover .icon-mute{ background-position:0 -120px; }
.icon-mute { background-position:0 -140px; width:21px; }

.player_bk button:not([disabled]):hover .icon-fullScreen{ background-position:0 -160px; }
.icon-fullScreen { background-position:0 -180px; }

.fullscreen_on .player_bk button:not([disabled]):hover .icon-fullScreen{ background-position:0 -200px; }
.fullscreen_on .icon-fullScreen { background-position:0 -220px; }

.player_bk button:not([disabled]):hover .icon-defaultvideo{ background-position:0 -240px; }
.icon-defaultvideo { background-position:0 -260px; }

/* .player_bk button:not([disabled]):hover .icon-loader{ background-position:0 -280px; } */
.icon-loader { background-position:0 -280px; }

.player_bk button:not([disabled]):hover .icon-altvideo{ background-position:0 -320px; }
.icon-altvideo { background-position:0 -340px; }

.player_bk button:not([disabled]):hover .icon-audiodesc{ background-position:0 -360px; }
.icon-audiodesc { background-position:0 -380px; width:30px;}

.player_bk button:not([disabled]):hover .icon-subtitles, .player_bk button.btnSubDisplay_on .icon-subtitles{ background-position:0 -400px; }
.icon-subtitles { background-position:0 -420px; width: 24px; }

.player_bk button:not([disabled]):hover .icon-transcript, .player_bk button.act_on .icon-transcript { background-position:0 -440px; }
.icon-transcript { background-position:0 -460px; }

.display_off {
	display: none;
}
.mediaPlayer{
	display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
iframe.mediaPlayer {
	margin: auto;
}
.player_bk {
	border: 1px solid black;
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: #494949;
	background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	margin: auto;
	box-sizing: border-box;
	overflow: hidden;
    display: flex;
    align-items: center;
}
object.resAudio {
	visibility:hidden;
}
.player_bk button {
	border:none;
	padding: 0;
	margin: 0;
	cursor:pointer;
	vertical-align: middle;
	background:transparent;
}

.player_bk img {
	box-shadow:none;
}

.pause,
.play {
	border-right: 1px solid black;
}
.mute,
.muted,
.transcript,
.audiodesc,
.altvideo,
.defaultvideo {
	padding-right: 0;
}
.mute,
.muted{
	border-left: 1px solid black;
}
.player_bk .video_act_on{
	cursor:default;
	opacity: 0.2;
}
.volume_bk {
	width: 3.125em;
	height: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	border-radius: 20px;
	background-color: #242323;
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
}
.volume_value {
	height: 4px;
	border-radius: 20px;
	background-color: #cc181e;
}
.seek_progress {
	width: 13.125em;
	margin-left: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	height: 8px;
	border-radius: 20px;
	background-color: #242323;
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
}
.seek_value {
	width: 0;
	position: absolute;
	top: 0;
	height: 8px;
	border-radius: 20px;
	background-color: #cc181e;
}
.load_progress {
	width: 0;
	background-color: #fff;
	height: 8px;
	border-radius: 20px;
	opacity: 0.2;
}
input[type="range"]  {
	-webkit-appearance: none !important;
	width: 100%;
	background-color: transparent;
	border: none;
	margin: auto;
	transition: all 0.3s ease;
	cursor: pointer;
	position: absolute;
	left: 0;
	cursor: pointer;
	padding: 0;
}
input[type="range"]::-moz-range-track {
	opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	border: none;
	background: none;
}
input[type="range"]::-moz-range-thumb {
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-thumb {
	background: none;
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	color: transparent;
	border: none;
	background: none;
}
input[type="range"]::-ms-fill-lower {
	background: none;
	border: none;
}
input[type="range"]::-ms-fill-upper {
	background: none;
	border: none;
}
input.seek_btn[type="range"] {
	top: -1px;
	height: 10px;
}
input.volume_btn[type="range"] {
	top: -3px;
	height: 10px;
}
.time_bk {
	display:inline-block;
	color: #E7E7E7;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 0.9em;
}
div.transcript{
	width: 630px;
	margin: 5px auto 10px;
	padding: 5px;
	border: 1px solid;
	box-shadow: 1px 1px 2px;
	border-radius: 5px 0;
	text-align: left;
}
video {
	box-shadow: 1px 1px 4px;
	display: block;
	margin: 5px auto;
	background: black;
}
ul.btnsLangList .capt,
ul.qualityList .capt{
	display: block;
}
.subBox {
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	bottom: 40px;
	z-index: 1;
}
.subBox_co{
	background: #000;
	box-shadow: 1px 1px 3px #000;
	color: #fff;
	font-size: 1.1em;
}
.subDisplay_off{
	opacity: 0;
	transition: opacity .25s ease-in-out;
}
.subDisplay_on{
	opacity: 1;
	transition: opacity .25s ease-in-out;
}
.subBox.subDisplay_on{
	opacity: 0.7;
}
ul.btnsLangList,
ul.qualityList {
	position: absolute;
	width: 150px;
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 4px;
	border: 1px solid black;
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    margin-left: -25px;
	bottom: 32px;
	z-index: 2;
}
ul.btnsLangList a,
ul.qualityList a{
	color: #E7E7E7;
	background: transparent;
	display: block;
	padding: 2px 5px;
	border: none;
	cursor:pointer;
	text-decoration: none;
}
ul.btnsLangList.subDisplay_off,
ul.qualityList.subDisplay_off{
	visibility: hidden;
}
ul.btnsLangList a:hover,
ul.btnsLangList a.subSelect_on,
ul.qualityList a:hover,
ul.qualityList a.subSelect_on{
	transition: all .25s ease-in-out;
	color: #333;
	background: rgba(231, 231, 231, 0.87);
}

.altVids_bk {
	display:inline-block;
}
/*Fullscreen Mode*/
.fullscreen_on video,
.fullscreen_on object {
	max-width: none !important;
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: none;
}
.fullscreen_on .video_bk {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10001;
}
.fullscreen_on .seek_progress {
	flex: 1;
}
.fullscreen_on .subBox {
	z-index: 10001;
	bottom: 35px;
	position: fixed;
}
.loader_bk span {
	display: none;
}
.icon-loader {
  animation: spin 2s infinite linear;
  display: inline-block;
}
/* btn play on screen */
.playOnScreen {
	background: none;
    border: none;
    position: absolute;
	margin-top: 5px;
}
.fullscreen_on .playOnScreen {
	z-index: 10000;
    position: fixed;
    top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	margin: 0;
}
.icon-playOnScreen { background-position:0 -20px; }
button.playOnScreen:hover .icon-pauseOnScreen { background-position:0 -60px; }
.icon-pauseOnScreen { background-position:0 1000px; }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@media (max-width: 650px){ 
	.seek_progress {
		width: 5.125em;
	}
	.volume_bk {
		display: none;
	}
}
@media (max-width: 450px){ 
	.sepTime_bk, .totalTime_bk, .volume_bk, .seek_progress {
		display: none;
	}	
}