@use "../../styles/variables.scss" as *;

.burger-icon {
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;

  & div {
    height: 4px;
    background-color: var(--darkgray); // Assume --darkgray is defined in variables.scss
    transition: all 0.3s ease;
  }

  &:hover div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  &:hover div:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  &:hover div:nth-child(2) {
    opacity: 0;
  }
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light); // Assume --light is defined in variables.scss
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 999;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.fullscreen-menu p {
  color: var(--dark); // Assume --dark is defined in variables.scss
  font-size: 1.5rem;
}
